#include "resource.h"
#include <winresrc.h>

IDI_MAIN ICON "cube.ico"

IDD_SPLASH DIALOG 0, 0, 256, 44
STYLE WS_POPUP | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Terve!"
FONT 8, "Tahoma"
BEGIN
	CTEXT      "Busy", IDC_SPLASH_BUSY, 0, 4, 256, 16, WS_VISIBLE | SS_NOPREFIX
	PUSHBUTTON "Vanha", IDC_SPLASH_RECENT, 28, 24, 64, 16, WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Sis‰‰n", IDC_SPLASH_NEW, 96, 24, 64, 16, WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Ulos", IDCANCEL, 164, 24, 64, 16, WS_VISIBLE | WS_TABSTOP
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "emitter.manifest"
